
<div class="card_wrapper">
<div class="main_card">
<mat-form-field appearance="fill" class="form_field">
  <input matInput  placeholder="{{searchCityPlacholder}}" [(ngModel)]="searchCity" />
  <mat-icon matSuffix (click)="search()">
<img src="../../../assets/images/search-interface-symbol.png" alt="search_btn" style="width: 18px;cursor: pointer;" >
  </mat-icon>
</mat-form-field>
<mat-card >
    <p class="date_time_font"> Current City Date : {{formattedDate}} &nbsp; | &nbsp; Current City Time : {{localCityTime}}</p>
    <h2 class="card_styles">{{location | titlecase}}</h2>
    <div class="all_weather_info card_styles">
       <div class="div_width">
        <p>TEMPERATURE</p>
        <p class="degree">{{temperature}}<sup>o</sup></p>
       </div>
       <div class="div_width">
        <ul>
          <li><b>Feels like : </b>{{feelsLike}} <sup>o</sup></li>
          <li><b>Wind</b> : {{windDegree}} Degree and Speed {{windSpeed}}</li>
          <li><b>Humidity : </b>{{humidity}}</li>
        </ul>
       </div>
    </div>
    <div class="weather_info">
    <mat-card class="weather_1">
      <h2 class="weather_title">Weather Conditions</h2>
      <p> <span class="font_weight">Sky</span> : <span class="weather_desc"> {{weatherMain | titlecase}}</span></p>
      <p><span class="font_weight">Forecasted Weather</span> : <span class="weather_desc">{{weatherDesc | titlecase}}</span> </p>
    </mat-card>
    <mat-card class="weather_2">
      <h2 class="weather_title">Atmospheric Conditions</h2>
      <p><span class="font_weight">Visibility</span>  : <span class="weather_desc">{{visibility}} Km</span> </p>
      <p><span class="font_weight">Pressure</span>  : <span class="weather_desc">{{pressure}} mBar</span>  </p>
    </mat-card>
  </div>
</mat-card>
<mat-card *ngIf="showDiv">
  <div data-test-id="no-results">No Results Found</div>
</mat-card>
</div>
</div>



