
.card_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}
.form_field{
  margin-left: 10px;
  width: 97%;
}
.main_card{
  width: 50%;
  border: 1px  solid black;
  background-color: #F9FAFA;
  padding: 16px;
  height: fit-content;
}
.search_city{
  display: flex;
  gap: 15px;
}
.temp_outer{
  display: flex;
  gap: 10px;
  align-items: center;
}
.temp{
  font-size: 32px;
}
.card_styles{
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}
.date_time_font{
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}
.all_weather_info{
  display: flex;
  justify-content: space-evenly;
}
.div_width{
    width: 33.3%;
}
.div_width ul{
  list-style-type: none;
  padding: 0px;
  text-align: end;
}
.rise_div,.set_div,.high_div,.low_div{
  position: relative;
}

.more_info_inner{
  position: absolute;
  top: -2px;
  left: 22px;
}
.more_info{
  width: 100%;
  display: flex;
  justify-content: center;
}
.div_width_2{
  width: 25%;
}
.sunriseTime{
  font-weight: bold;
}
.daily_forecast{
    width: 56%;
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
.hr_1{
  width: 60%;
}
.forecast{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 16px;
  width: 60%;
}
.forecast_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.bold{
  font-weight: bold;
}
.laptop_size{
  width: 14px;
}
.weather_info{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.weather_title{
  font-family: 'Nunito Sans', sans-serif;
}
.weather_1 {
  width: 33%;
  font-family: 'Nunito Sans', sans-serif;
}
.weather_2 {
  width: 33%;
  font-family: 'Nunito Sans', sans-serif;
}
.font_weight{
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}
.weather_desc{
  font-size: 11px;
}
// Mobile phone
@media screen and (max-width:599px) {
  .card_wrapper{
    align-items: center;
  }
  .all_weather_info{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .more_info{
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 16px;
  }
  .more_info_inner{
    position: absolute;
    top: 0px;
    left: 36%;
    display: flex;
    width: 100%;
  }
  .div_width_2{
    width: 35% !important;
  }
  .vl{
    display: none;
  }
  .laptop_size{
    width: auto;
  }
  .forecast{
    flex-direction: column;
  }
  .daily_forecast{
    width: 98%;
  }
  .degree{
    font-size: 36px;
    // text-align: end;
  }
  .main_card{
    width: 90%;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .weather_info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    gap: 13px;
}
  .weather_2 {
    width: auto;
    font-family: "Nunito Sans", sans-serif;
  }
  .weather_1 {
    width: auto;
    font-family: "Nunito Sans", sans-serif;
  }
  .div_width {
    // width: 43.3%;
  }
  .div_width ul{
    list-style-type: none;
    padding: 0px;
    text-align: center;
  }
}
// Small Tablet
@media (min-width: 600px) and (max-width: 767px) {
  .all_weather_info{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .more_info{
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 16px;
  }
  .more_info_inner{
    position: absolute;
    top: 0px;
    left: 36%;
    display: flex;
    width: 100%;
  }
  .div_width_2{
    width: 19% !important;
  }
  .vl{
    display: none;
  }

  .laptop_size{
    width: auto;
  }
  .daily_forecast{
    width: 98%;
  }
  .degree{
    font-size: 36px;
    // text-align: end;
  }
  .main_card{
    width: 90%;
  }
  .div_width ul{
    list-style-type: none;
    padding: 0px;
    text-align: center;
  }
}
// Small Laptops
@media (min-width: 768px) and (max-width: 991px) {
  .all_weather_info{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .more_info{
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 16px;
  }
  .more_info_inner{
    position: absolute;
    top: 0px;
    left: 36%;
    display: flex;
    width: 100%;
  }
  .div_width_2{
    width: 13% !important;
  }
  .vl{
    display: none;
  }

  .laptop_size{
    width: auto;
  }
  .forecast{
    // flex-direction: column;
    // gap: 0px;
    width: 100% !important
  }
  .daily_forecast{
    width: 98%;
  }
  .main_card{
    width: 90%;
  }
  .div_width ul{
    list-style-type: none;
    padding: 0px;
    text-align: center;
  }
}
// Large Laptops and Desktops
@media (min-width: 992px) and (max-width: 1199px) {
  .all_weather_info{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .more_info{
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 16px;
  }
  .more_info_inner{
    position: absolute;
    top: 0px;
    left: 36%;
    display: flex;
    width: 100%;
  }
  .div_width_2{
    width: 13% !important;
  }
  .vl{
    display: none;
  }
  .laptop_size{
    width: auto;
  }
  .forecast {
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 70%;
}
  .daily_forecast{
    width: 98%;
  }
  .hr_1{
    width: 90%;
  }
  .main_card{
    width: 90%;
  }
  .div_width ul{
    list-style-type: none;
    padding: 0px;
    text-align: center;
  }
}
// Extra Large devices
@media (min-width: 1200px) {
 .more_info{
  gap: 30px;
 }
 .vl{
  display: none;
 }
 .daily_forecast_wrapper{
  padding: 24px
 }

}
.degree{
  font-size: 36px;
}
.title {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.9px;
  font-weight: bold;
  // margin: 10px;
}
.cpy {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.card_margin{
  margin-top: 8px;
}
