/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #F9FAFA;
}
.card_wrapper{
  overflow-x: hidden !important;
 }
 body{
  overflow-x: hidden !important;
 }
